.container
{

}
.row{
    margin-left: 0;
    width: 100%;
}
.header, .title{
   font-size: 4rem;
   color: #f30505;
}

.thanks{
    font-size: 2.5rem;
    color: #f30505;
}

.field{
    font-size: 2rem;
    font-weight: normal;
    color: #f30505;
}

.submit{
    color: white;
    font-size: 20px;
    font-weight: 500;
    border-radius: 10px;
    cursor: pointer;
    transition: 70ms;
    text-decoration: none;
}



